body {
    background-color: #2c3e50;
}

.box-shadow {
    box-shadow: 0 5px 14px 0 rgba(16,16,16,1);
}


.header {
    display: flex;
    background-color: #101010;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__link {
    font-size: 28px;
    color: firebrick;
}

.header__link:hover {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
}


.create-players-form {
    padding: 0 20%;
}

.create-player-form__label {
    font-size: 20px;
    color: #ffffff;
    margin: 12px 0;
}

.create-player-form__input {
    color: firebrick;
    font-size: 18px;
}

.create-players-btn {
    background-color: #101010;
    color: firebrick;
    border: none;
    display: block;
    margin: 24px auto;
    padding: 10px 40px;
    font-size: 20px;
}

.player-name {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.player-name.active {
    padding: 20px;
    color: #00cc00;
}